<div class="container text-center mt-5">
  <h1 class="mb-4">Добро пожаловать в Автосервис</h1>

  <div class="list-group">
    <a href="<%= cars_path %>" class="list-group-item list-group-item-action">🚗 Автомобили</a>
    <a href="<%= customers_path %>" class="list-group-item list-group-item-action">👤 Клиенты</a>
    <a href="<%= services_path %>" class="list-group-item list-group-item-action">🛠 Услуги</a>
    <a href="<%= appointments_path %>" class="list-group-item list-group-item-action">📅 Записи</a>
  </div>
</div>
