<h1>Добро пожаловать в Автосервис</h1>

<p>Выберите раздел:</p>

<ul>
  <li><%= link_to "Автомобили", cars_path %></li>
  <li><%= link_to "Клиенты", customers_path %></li>
  <li><%= link_to "Услуги", services_path %></li>
  <li><%= link_to "Записи", appointments_path %></li>
</ul>
