<h1 class="text-center">Редактирование клиента</h1>

<div class="card p-4">
  <%= render 'form' %>
</div>

<%= link_to "Назад к списку", customers_path, class: "btn btn-primary mt-3" %>
<%= link_to "На главную", root_path, class: "btn btn-secondary mt-3" %>
